*.ipynb_checkpoints
0-General
1-Customer Churn
2-Time Series Forecasting
# 3-Customer Segmentation
4-Fraud Detection
5-Summarizing with LLM
6-QR Code Redesign
7-Customized Event Flyers
# 8-Computer Vision
NataSquad-AI-Hackathon
stable-diffusion-webui-docker
